// --- Color --- //
$primary: #4b8c28 !important;
$light: #a1c7c5 !important;
$success: #21aa05 !important;
$danger: #f4024f !important;

// Logo
.custom-logo {
  position: absolute;
  top: 10px;
  left: 0px;
}

.custom-logo-navbar {
  position: absolute;
  top: -25px;
  left: 0px;

  // responsive layput 
  @media screen and (max-width: 768px) {
    top: -8px;
  }
}


// Button Confirm Dialog
.p-confirm-dialog-reject {
  padding: 8px 20px;
  font-size: small;
  color: $success;
  background-color: white;
  border-color: #21aa05;
  box-shadow: 0 0 0 0.02rem #21aa05 !important;
}

.p-confirm-dialog-accept {
  padding: 8px 20px;
  font-size: small;
  background-color: $success;
  box-shadow: 0 0 0 0.02rem #21aa05 !important;
}